.custom-toast .p-toast {
  border-radius: 8px;
  background-color: #333;
  padding: 10px;
  color: white;
}

.custom-toast .p-toast-message {
  color: white;
  padding: 10px;
  background-color: #333;
}

.p-dialog .p-dialog-header-close {
  color: white;
  padding: 10px;
  background-color: #333;
}

.custom-toast .p-toast-summary {
  font-weight: bold;
  padding: 10px;
  background-color: #333;
  color: #e0e0e0;
}

.custom-toast .p-toast-detail {
  color: #ffffff;
  padding: 10px;
  background-color: #333;
}

.pusd-section {
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  top: 10%;
  left: 100%;
  transform: translateX(-50%);
  background-color: #555;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  white-space: nowrap;
}

.pusd-section:hover .popup {
  display: block;
}
